// Basic
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #cccccc;
$c-gray-300: #e8e8e8;
$c-gray-500: #808080;

// Brand
$c-pink: #f4519b;
$c-pink-300: #f4519b;
$c-purple-300: #7e69c9;
$c-purple-400: #4f3aa1;
$c-purple-500: #423086;
$c-purple-700: #291e54;
$c-cyan-500: #2ad2c5;
$c-cyan-600: #09c6b8;
$c-cyan-700: #419e94;
$c-orange: #f6632a;
$c-fiery-rose: #fc6363;
$c-green-whatsapp: #48ad4b;

// Definitive
$c-background-base: #f5f5f5;
$c-background-neutral: #f9fafc;
$c-text: #4d4d44;

// Opacity
$c-black-10: #00000010;
$c-black-20: #00000020;
