@use './config/colors' as *;
@use './config/fonts' as *;
@use './config/mixins' as *;

* {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $c-background-base;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.only-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
