@use './config/colors' as *;
@use './config/fonts' as *;
@use './config/mixins' as *;

* {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px $c-orange solid;
  outline-offset: 1px;
}

body {
  position: relative;
  background-color: $c-background-base;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.only-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mobile-only {
  display: none !important;

  @include mobile {
    display: block !important;
  }
}

.desktop-only {
  @include mobile {
    display: none !important;
  }
}

img {
  max-width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

.centerContent {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 2rem;

  @include mobile {
    max-width: 100vw;
    padding: 0 1rem;
  }
}

.noscroll {
  overflow: hidden;
}

.overlay--wrapper {
  &.isOpen {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $c-black-20;
    overflow-y: scroll;
    z-index: 99;
  }

  & > form {
    display: unset;
  }

  .overlay--container {
    display: flex;
    flex-direction: column;
    background-color: $c-background-base;
    min-height: 100%;
    width: 100%;

    .overlay--header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $c-purple;
      padding: 0.875rem 1rem;

      .overlay--close {
        position: absolute;
        left: 1rem;
        background-color: transparent;
        border: none;
        padding: 0 10px;
        cursor: pointer;
      }

      .overlay--close span,
      .overlay--headerText {
        font-size: 20px;
        font-weight: 600;
        color: $c-white;
      }
    }

    .overlay-content {
      height: 100%;
    }

    .overlay--footer {
      background-color: $c-white;
      margin-top: auto;

      &.sticky {
        bottom: 0;
        top: unset;
      }
    }
  }
}
