.banners--wrapper {
  padding: 1rem 0;

  .banners--content {
    display: flex;
    gap: 0.6875rem;

    .banners--item {
      flex: 1 1 0px;

      .banners--image {
        width: 100%;
      }
    }
  }
}
