.banners--wrapper {
  padding: 1rem;
  max-width: 90rem;
  margin: 0 auto;

  .banners--content {
    display: flex;
    gap: 0.6875rem;

    .banners--item {
      flex: 1 1 0px;

      .banners--image {
        width: 100%;
      }
    }
  }
}
