@use './config/colors' as *;
@use './config/fonts' as *;
@use './config/mixins' as *;

.header--wrapper {
  .header--container {
    display: flex;
    flex-direction: column;
    background-color: $c-cyan-500;
    width: 100%;
    padding: 0.625rem 0 0 0;

    .header--row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0.25rem 2rem;

      @include mobile {
        justify-content: space-between;
        padding: 0.25rem 0rem;
      }

      &.header--row-1 {
        padding: 0 2rem;

        @include mobile {
          flex-wrap: wrap;
          gap: 0.3125rem;
          padding: 0 1.25rem;
        }

        @include fold {
          flex-wrap: wrap;
          gap: 0.3125rem;
          padding: 0 1.25rem;
        }

        .header--hamburger-menu {
          @include mobile {
            display: block !important;
          }

          @include fold {
            display: block !important;
          }

          .hamburger-menu--button {
            background-color: transparent;
            border: none;

            .hamburger-menu--image {
            }
          }
        }

        .header--search {
          min-width: 20rem;

          @include mobile {
            order: 4;
            min-width: 90vw;
          }

          @include fold {
            order: 3;
            min-width: 90vw;
          }

          input[type='search'] {
            font-size: 0.875rem;
            color: $c-text;
            width: 100%;
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            border: none;
          }
        }

        .header--logo {
          .logo--link {
            .logo--image {
              width: 100%;
            }
          }
        }

        .header--cart {
          .cart--button {
            position: relative;
            background-color: transparent;
            border: none;
            cursor: pointer;

            .cart--image {
              width: 100%;
              min-width: 1.875rem;
            }

            .cart--badge {
              position: absolute;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              background-color: $c-orange;
              border-radius: 60%;
              width: 1rem;
              height: 1rem;
              top: -0.1875rem;
              right: -0.3125rem;

              user-select: none;

              .cart--counter {
                font-size: 0.625rem;
                line-height: 0.625rem;
                color: $c-white;
              }
            }
          }

          .cart--drawer {
            .overlay--container {
              width: 30vw;
              float: right;
              background-color: $c-white;
              overflow-y: unset;

              @include tablet {
                width: 60vw;
              }

              @include phone {
                width: 90vw;
              }

              @include fold {
                width: 100%;
              }

              .overlay-content {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                padding: 1.1875rem 1.5rem;

                .cart-summary--item {
                  display: flex;
                  flex-direction: row;
                  gap: 0.5rem;

                  @include fold {
                    flex-direction: column;
                  }

                  .cart-summary--image {
                    flex-basis: 30%;
                    line-height: 0;
                  }

                  .cart-summary--info {
                    flex-basis: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.375rem;

                    .cart-summary--line {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: center;

                      &:last-child {
                        margin-top: auto;
                      }

                      .cart-summary--name {
                        .cart-summary--nameText {
                          font-size: 0.8125rem;
                          color: $c-text;

                          @include desktop {
                            font-size: 0.9375rem;
                          }
                        }
                      }

                      .cart-summary--remove {
                        margin-left: auto;

                        .cart-summary--removeButton {
                          background-color: transparent;
                          border: none;
                          cursor: pointer;

                          span {
                            font-size: 1.125rem;
                          }
                        }
                      }

                      .cart-summary--sku {
                        .cart-summary--skuText {
                          font-size: 0.6875rem;

                          @include desktop {
                            font-size: 0.8125rem;
                          }
                        }
                      }

                      .cart-summary--qty {
                        .cart-summary--qtyGroup {
                          display: flex;
                          flex-direction: row;
                          border: 0.0625rem solid $c-gray;
                          border-radius: 0.375rem;
                          padding: 0.3125rem 0.625rem;

                          button,
                          input {
                            text-align: center;
                            background-color: transparent;
                            border: none;
                          }

                          button {
                            padding: 0.3125rem;
                            cursor: pointer;
                          }

                          input {
                            width: 4rem;
                          }
                        }
                      }

                      .cart-summary--price {
                        .cart-summary--sellingPrice {
                          font-size: 0.875rem;
                          font-weight: 700;
                          color: $c-purple;

                          @include desktop {
                            font-size: 1rem;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .overlay--footer {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                border-radius: 1rem 1rem 0 0;
                box-shadow: 0px -2px 10px 0 $c-black-10;

                .cart-drawer--totalizers {
                  .totalizers--itemCount {
                    font-size: 0.75rem;

                    @include desktop {
                      font-size: 0.875rem;
                    }
                  }

                  .totalizers--total {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;

                    .totalizers--totalValue,
                    .totalizers--totalText {
                      font-size: 1rem;
                      font-weight: 700;

                      @include desktop {
                        font-size: 1.125rem;
                      }
                    }

                    .totalizers--totalValue {
                      color: $c-purple;
                    }
                  }
                }

                .form--button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 0.75rem;
                  background-color: $c-green-whatsapp;
                  width: 100%;
                  padding: 0.75rem;
                  border: none;
                  border-radius: 12.5rem;
                  cursor: pointer;

                  .form--buttonImage {
                    line-height: 0;
                  }

                  .form--buttonText {
                    color: $c-white;
                  }
                }
              }
            }
          }
        }
      }

      &.header--row-2 {
        .header--menu {
          @include mobile {
            display: none;
          }

          @include fold {
            display: none;
          }

          @include desktop {
            position: initial;
            background-color: transparent;
            overflow-y: initial;
          }

          .menu--container {
            @include desktop {
              background-color: transparent;
            }

            @include mobile {
              .overlay--header {
                display: flex !important;
              }
            }

            @include fold {
              .overlay--header {
                display: flex !important;
              }
            }

            .menu--list {
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 1rem;

              @include mobile {
                flex-direction: column;
              }

              @include fold {
                flex-direction: column;
                gap: 0.5rem;
              }

              .menu--item {
                list-style: none;

                @include mobile {
                  padding: 0.5rem 1rem;
                }

                @include fold {
                  padding: 0.5rem 1rem;
                }

                .menu--itemLink {
                  font-size: 0.9375rem;
                  text-decoration: none;
                  color: $c-white;

                  @include mobile {
                    color: $c-black;
                  }

                  @include fold {
                    color: $c-black;
                  }

                  &:hover {
                    color: $c-orange;
                  }
                }
              }
            }
          }
        }
      }

      &.header--row-3 {
        width: 100%;
        background-color: $c-cyan-600;

        @include mobile {
          justify-content: center;
        }

        .header--locale {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .locale--icon {
            display: flex;
            flex-direction: row;
          }

          .locale--store {
            font-weight: 600;
          }

          .locale--store,
          .locale--location {
            font-size: 0.8125rem;
            color: $c-white;
          }
        }
      }
    }
  }
}
